.Navigacion {
    background-color: #f4f4f4;
    width: 200px;
    padding: 20px;
}
.Navigacion ul {
    list-style: none;
    padding: 0;
}
.Navigacion ul li {
    margin-bottom: 10px;
}
.Navigacion ul li a {
    text-decoration: none;
    color: #333;
}
.Navigacion ul li a:hover {
    text-decoration: underline;
}
